@media (min-width: 768px) {
  header {
    padding: 30px 0;
    border-bottom: 1px solid brown;
  }

  header a:first-child {
    margin: 0;
  }

  header .logo-wrapper {
    text-align: left;
  }

  header .logo {
    height: 40px;
  }

  header .links-wrapper {
    display: block;
    align-self: flex-end;
  }

  header .hamburger-menu-wrapper {
    display: none;
  }

  main {
    padding-top: 20px;
  }

  .container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    max-width: 1200px;
  }

  .hero {
    height: 600px;
    margin-bottom: 50px;
  }

  .content {
    padding: 0 50px;
  }
}