body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  color: brown;
  font-size: 1.5em;
  text-decoration: none;
}

a:hover {
  color: saddlebrown;
}
