body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  overflow-x: hidden;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  color: brown;
  font-size: 1.5em;
  text-decoration: none;
}

a:hover {
  color: saddlebrown;
}

main {
  flex: 1;
  padding-top: 0;
  padding-bottom: 60px;
}

h1 {
  margin-bottom: 1em;
  font-size: 4em;
  font-weight: bold;
  color: #FFFFFF;
  margin: 20px 0;
}

h2 {
  color: #eee;
}

.divider {
  width: 180px;
  margin: 60px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: #1d1f2e;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
}

.divider .deco-line {
  display: inline-block;
  width: 30px;
  height: 1px;
  background-color: #bbb;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}











.hero {
  background-image: url('/images/hero.jpg');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 0.2em;
}

.hero-content {
  text-align: center;
}

header {
  grid-column: span;
  padding: 10px 0;
  text-align: center;
  font-size: 1.4em;
  color: white;
  border-bottom: none;
  max-height: 50px;
  display: flex;
}

header .logo-wrapper {
  flex-grow: 2;
  text-align: center;
}

header .logo {
  height: 25px;
}

header a:first-child {
  margin: 0;
}

header a {
  font-size: 1em !important;
  margin-left: 30px;
}

header .links-wrapper {
  display: none;
}










.content {
  text-align: center;
  padding: 0 10px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.about-text {
  color: slategrey;
}

.our-story-link {
  display: block;
  margin: 25px 0;
}

.showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.showcase-item {
  width: 96%;
  height: 400px;
  border: 1px solid lightgray;
  box-shadow: 2px 4px rgba(25, 25, 25, 0.25);
  margin-left: auto;
  margin-right: auto;
}

.showcase-item:nth-child(1) {
  background-image: url("/images/photoshoot1.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

.showcase-item:nth-child(2) {
  background-image: url("/images/photoshoot2.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.showcase-item:nth-child(3) {
  background-image: url("/images/photoshoot3.jpg");
  background-repeat: no-repeat;
  background-position: right;
}















.jobs-intro {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  max-width: 900px;
  align-items: center;
  flex-direction: column;
}

.job-photos-wrapper {
  display: block;
  max-height: 370px;
  max-width: 100%;
}

.job-photos-wrapper .job-photo:first-child {
  grid-row: span 2;
  display: block;
}

.job-photos-wrapper .job-photo:first-child img {
  max-width: 100vmin;
  max-height: 300px;
  width: auto;
}

.job-photos-wrapper .job-photo:not(:first-child) {
  display: none;
}

.job-photos-wrapper .job-photo:not(:first-child) img {
  height: 120px;
}

.job-photos-wrapper .job-photo:last-child {
  align-self: end;
}

.jobs-intro-links {
  margin-left: 0;
  text-align: center;
}

.jobs-intro-links h2 {
  margin-top: 20px;
  color: brown;
}

.jobs-intro button {
  display: block;
  border-radius: 2px;
  background: black;
  height: 40px;
  width: 150px;
  color: white;
  font-size: 0.8em;
  cursor: pointer;
  margin: 0 auto;
}

.jobs-intro button:hover {
  background: grey;
  color: white;
}